{% extends "base.html" %}

{% block content %}
<h2>Criar Nova Prova</h2>
<form method="POST">
    <label for="name">Nome da Prova:</label>
    <input type="text" id="name" name="name" required>

    <label>Selecione as Questões:</label>
    {% for question in questions %}
    <div>
        <input type="checkbox" id="question_{{ question.id }}" name="questions" value="{{ question.id }}">
        <label for="question_{{ question.id }}">{{ question.command }}</label>
    </div>
    {% endfor %}

    <button type="submit">Salvar</button>
</form>
{% endblock %}